<div style="width: 400px; margin: auto;">
    <h1>EDIT</h1>
      <div *ngIf="currentUser.id">
        <form>  
        <div class="form-group">
          <label for="id">ID</label>
          <input
            type="text"
            class="form-control"
            id="id"
            required
            [(ngModel)]='currentUser.id'
            name="id"
          />
        </div>

        <div class="form-group">
            <label for="first__name">FirstName</label>
            <input
              type="text"
              class="form-control"
              id="first__name"
              required
              [(ngModel)]="currentUser.first__name"
              name="first__name"
            />
          </div>

          <div class="form-group">
            <label for="middle__name">MiddleName</label>
            <input
              type="text"
              class="form-control"
              id="middle__name"
              required
              [(ngModel)]="currentUser.middle__name"
              name="middle__name"
            />
          </div>

          <div class="form-group">
            <label for="last__name">LastName</label>
            <input
              type="text"
              class="form-control"
              id="last__name"
              required
              [(ngModel)]="currentUser.last__name"
              name="last__name"
            />
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="text"
              class="form-control"
              id="email"
              required
              [(ngModel)]="currentUser.email"
              name="email"
            />
          </div>

          <div class="form-group">
            <label for="phone_number">PhoneNumber</label>
            <input
              type="text"
              class="form-control"
              id="phone_number"
              required
              [(ngModel)]="currentUser.phone_number"
              name="phone_number"
            />
          </div>

          <div class="form-group">
            <label for="role">Role</label>
            <input
              type="text"
              class="form-control"
              id="role"
              required
              [(ngModel)]="currentUser.role"
              name="role"
            />
          </div>

          <div class="form-group">
            <label for="address">Address</label>
            <input
              type="text"
              class="form-control"
              id="address"
              required
              [(ngModel)]="currentUser.address"
              name="address"
            />
          </div>

          <div class="form-group">
            <label for="datetime">DateTime</label>
            <input
              type="text"
              class="form-control"
              id="datetime"
              required
              [(ngModel)]="currentUser.datetime"
              name="datetime"
            />
          </div>

          <div class="form-group">
            <label for="customer_Name">CustomerName</label>
            <input
              type="text"
              class="form-control"
              id="customer_Name"
              required
              [(ngModel)]="currentUser.customer_Name"
              name="customer_Name"
            />
          </div>
        </form>
          <div class="but">
          <button class="badge badge-danger mr-2" id="wer" (click)="delete()">
            Delete
          </button>
      
          <button
            type="submit"
            class="badge badge-success" id="wer"
            (click)="update()"
          >Update</button>
          </div>
          <p style="text-align: center;">{{ message }}</p>
        
      
    </div>
</div>